.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    margin-right: 5px;

    background: orange;
    border: 2px solid orange;
    color: white;
    text-align: center;

    font: 32px Arial, sans-serif;
}